<%layout('boilerplate')%>
<!-- <link rel="stylesheet" href="/css/buy.css"> -->
<section class="right">
    <form action="/logout" method="GET"><button class='logoutBtn'>LOGOUT</button></form>
            <div class="circleBox" style="margin:29px;"> 
                <div class="circle" style="background-color:white;height:50px;width:50px;border-radius:100%;"></div>
                <h6 style="color:white;margin-top:15px;margin-left:7px;"><%=user.username%> </h6>
            </div>
            <form action="/home" method="GET"><button style="color:#237DB6;top:210px;" class="addBtn util-up">HOME</button></form> 
            <% if (user.username=='admin'){ %>  
            <form action="/additem" method="GET"><button class="addBtn">ADD ITEM</button></form>
            <%}else{%>
                <form action="/myBag" method="GET">
                    <button class="addBtn">MY BAG</button>
                </form> 
                <%}%>
</section>
<h6 style="display:inline;color:white; margin-left:15px; ">Hello,</h6><h3 style="display:inline;color:white ; " ><%=user.username%> </h3>


    <div class='containerOuter'>
        <h4 class='menHeading' style="color:white;height:0;width:0;display:block;margin:2px;">MEN</h4>
        <br><br>

    <% for(itemIterator of item){%> 
        <% if(itemIterator.category==='Men') {%> 
       <div class="menContainer container">    

        <div class='row'>
            <form action="/details/<%=itemIterator._id%>" class='form' method="GET">
                <div class='box '>
                    
                    <div class="img" style="background-image:url('<%=itemIterator.url%>');"> </div>
                    <div class="box-bottom">
                    <div class=priceTag>$<%=itemIterator.price%></div>
                    <%let len=`${itemIterator.itemname}`.length,final='',str=`${itemIterator.itemname}`;%>
                    <% if(len>20){%>
                     <%for(let i=0;i<len;i++){%>
                      <%final=final+str[i];%>
                      <%if(i==20){%>
                      <%final=final+`........`;%>
                      <%break;%>
                      <%}%>

                     <%}%>
                     <h6 class="name"><%=`${final}`%> </h6> 
                    
                    <%} else{%>
                    <h6 class="name"><%=itemIterator.itemname%> </h6> 
                    <%}%>
                    <h6 class="mname">By <%=itemIterator.manufacturerName%> </h6>
                    <h6 class="rating"> Rating:<%=itemIterator.rating%></h6>
                    </div>
                    <button class="bigButton" type='submit' ></button>
                </div>
            </form> 
            <% if (!(user.username==='admin')){ %>  
                <form action="/buy" class='form' method="POST" >
                    <button name="itemid" value="<%=itemIterator._id%>" class='btns' >BUY</button>
                </form>    
                    <% } %> 
        </div>       
    </div>
             <% } %>  
             <% } %>
             
 
       
             <div class="gap"></div>

             <div class="break" style="display:block;width:100%;";></div>
             <h4 class='menHeading' style="color:white;height:0;width:0;display:block;margin:2px;">WOMEN</h4>
             <% for(itemIterator of item){%> 
                <% if(itemIterator.category==='Women') {%> 
               <div class="womenContainer container">    
        
                <div class='row'>
                    
                    <form action="/details/<%=itemIterator._id%>" class='form' method="GET">
                        <div class='box'>
                            <div class="img" style="background-image:url('<%=itemIterator.url%>');"> </div>
                            <div class="box-bottom">
                                <div class=priceTag>$<%=itemIterator.price%></div>
                                <h6 class="name"><%=itemIterator.itemname%> </h6> 
                                <h6 class="mname">By <%=itemIterator.manufacturerName%> </h6>
                                <h6 class="rating"> Rating:<%=itemIterator.rating%></h6>
                                </div>
                            <button class="bigButton" type='submit'></button>
                        </div>
                    </form> 
                    <% if (!(user.username==='admin')){ %>  
                        <form action="/buy" class='form' method="POST" >
                            <button name="itemid" value="<%= itemIterator._id %>" class='btns' >BUY</button>
                        </form>    
                    
                    
                            <% } %> 
                </div>       
            </div>
                     <% } %>  
                     <% } %>


   



              
            
             
             
 
                



<style>
    .bigButton
    {
        width:100%;
         height:100%; 
        position:absolute;
        /* background-color:white; */
        border:none;
        top:0%;
        bottom:0%;
        left:0%;
        right:0%;
         background-color: transparent;
    }
.hide
{
    display:none;
}
.box-bottom
{
color:white;
z-index:5;
position:absolute;
top:100%;
transform:translateY(-100%);
position:relative;
/* background-color:hotpink; */
width:100%;
height: 40%;
}
.priceTag
{
    
    height:20px;
    background-color:black;
    text-align:center;
    width:40%;
    height:38px;
    font-size:25px;
    border-radius:0px 8px 0px 0px;
    position:absolute;
    color:#BED331;
    top:2%;
    left:5%;
}
.name
{
font-size:14px;
font-weight:400;
position:absolute;
top: 50%;left:6%;
}
.mname
{
    font-size:12px;
    font-weight:200;
    position:absolute;
    top:80%;left:6%;
}
.rating
{
    font-size:10px;
    top: 80%;left:70%;
    position:absolute;
   color:#EF7D21;
}
  .btn
{
    background-color:#237DB6;
    border-radius:30px;
    border-color:transparent;
    position:absolute;
    padding:7px 30px;
    top:100%;
     left:4%;
    transform:translateY(-150%);
    color:white;
}
.btns
{
    background-color:#237DB6;
    border-radius:30px;
    border-color:transparent;
    color:white;
    padding:7px 30px;
}
  .btn:hover
{
 cursor:pointer;
}
    .gap
    {
        display:block;
        width:100%;
        height:500px;
    }
   .row{
   
     width:80%;
     margin-bottom:30px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
}
.containerOuter
{ 
   background-color:rgba(0, 0, 0, 0.5);
  
   backdrop-filter: blur(0px);
   border-radius:0px 16px 0px 0px;;
   margin-left:0px;
    width:78%;
    position:relative;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.container{
    margin-top: 30px;
    width:260px;
}


.addAnchor:hover
{
 cursor:pointer;
}
body
{
background-image:url('https://raw.githubusercontent.com/john-fermadez/project/main/assets/background-images/admin.jpg');
 background-position:center;
 background-size:cover;

}


.right {
    height:100%;
    bottom:0px;
    left:20px;
    width:19%;
    background-color:#000000;
   position:fixed;
  left:81%;
    
}
.logoutBtn
{
    position:absolute;
    left:100%;
    top:4px;
    transform:translateX(-100%);
    background-color:transparent;
    color:white;
   border:none;
}

.addBtn
{
    position:absolute;
    left:9%;
    top:260px;
   
    background-color:transparent;
    color:white;
   border:none;
}
.hide{
    display:none;
}
.box
{
    width:176px;
    height:253px;
    position:relative;
    background-color:rgb(0, 0, 0);
    margin:10px;
    border:1px solid black;
    /* display:block; */
    border-radius:0px 10px 0px 0px;
}
.form{
    width:fit-content;
}
.box:active
{
    background-color:#237DB6;
}

.img
{
    width:155px;
    height: 180px;
    position:absolute;
    margin-left:10px;
    margin-top:10px;
    border-radius:0px 10px 0px 0px;
    background-size:cover;
}

    </style>